* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #d4e0ee;
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}
img.qr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.bold {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 20px 0px 20px;
  background-color: white;
}
.normal {
  text-align: center;
  font-size: 15px;
  color: gray;
  padding: 20px 20px 0px 20px;
  background-color: white;
}
